body {background-color: rgb(13, 30, 66);}

h1 {color: rgb(6, 197, 165);}

li {color: rgb(36, 170, 108);
    font-size: 20px;}

a {text-decoration: none;}

a:hover {color: rgb(175, 73, 170);
    text-decoration: none;}