
/* Main section Start */


.section-header {
  margin-bottom: 66px;
}

.section-header__title {
  margin: 0 auto 26px;
  font-family: $title-font-style;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #333;
}

.section-header__subjection {
  margin: 0 auto;
  color: #333;
  font-family: $subjection-font-style;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-header__subjection::after {
  margin: 0 auto;
  margin-top: 42px;
  display: block;
  background-color: $base-fontcolor-dark;
  width: 60px;
  height: 3px;
  content: "";
}

.section-header__description {
  margin: 0 auto;
  margin-top: 46px;
  font-family: $main-text-font-style;
  color: #999;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  max-width: 940px;
}


/* Main section End */

/* Members Cards Start */

.team__list {
  @include space-between-flex ('hor');
  flex-wrap: wrap;
  padding-bottom: 82px;
}

.team__photo {
  margin: 0 auto;
}

.team__member-photo {
  position: relative;
  display: flex;
  width: 380px;
  margin-bottom: 30px;
  transition: all 0.5s linear;
}

.team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to top, $base-color-light 0%, $base-color-dark 100%);
  opacity: 0;
  transition: transform 0.5s linear, opacity 0.5s linear;
}

/* Member List Social Icons Start */
.socials-list {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.socials-list__link {
  @include center-flex('all');
  width: 56px;
  height: 56px;
  border: rgba(243, 129, 129, 0.502) solid 1px;
  background-color: $base-fontcolor-lite;
  fill: $base-fontcolor-dark;
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: $base-fontcolor-dark;
  fill: $font-color-lite;
}

.team__member-photo:hover .team__overlay,
.team__member-photo:hover .socials-list {
  opacity: 1;
  transition: opacity 0.5s linear, transform 0.5s linear;
}

.team__member-photo:hover {
  cursor: pointer;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 rgba(149, 225, 211, 1);
  transition: box-shadow 0.5s linear, transform 0.5s linear;
}

.team__member-descr {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.team__name {
  margin: 0 auto 14px;
  padding: 0;
  text-transform: uppercase;
  font-family: $subjection-font-style;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.team__position {
  margin: 0 auto;
  padding: 0;
  font-family: $main-text-font-style;
  color: #999;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}

/* Members Cards End */

/* Footer Section Start */
.page-footer {
  @include center-flex('ver');
  flex-direction: row;
  height: 62px;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
}

.page-footer__text {
  margin: 0;
  padding: 0;
  font-family: $subjection-font-style;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.page-footer__link {
  display: inline-block;
  text-decoration: none;
  color: $base-fontcolor-dark;
}

/* Footer subscription form Start */
.page-footer__form {
  margin: 0;
  padding: 0;
  display: flex;
}

.contact-form__email {
  width: 230px;
  height: 40px;
  box-sizing: border-box;
  padding-left: 14px;
  font-size: 15px;
  font-family: $main-text-font-style;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  text-transform: capitalize;
  border: 1px solid rgb(204, 204, 204);
}

.contact-form__button {
  width: 152px;
  height: 40px;
  font-size: 14px;
  font-family: $subjection-font-style;
  color: $font-color-lite;
  background-color: rgb(149, 225, 211);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: transparent;
}

.contact-form__button:hover,
.contact-form__button:focus {
  cursor: pointer;
  background-color: $base-fontcolor-dark;
  transition: 0.5s;
}

/* Footer subscription form End */

/* Footer section End */

@media (min-resolution: 2dppx) {
  .page__header {
    background: url(../img/Layer15@2x.png) 100% 100% no-repeat transparent;
    background-size: cover;
    background-position: center;
  }
}
