/*Global Styles Start*/
html {
	box-sizing:border-box;
}
*,
*::before, 
*::after{
	box-sizing: inherit;
}
body {
    /*color:  #555252;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hydden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;    
}
.container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    padding: 0px; 
}
/*Global Styles End*/

/*Main menu start*/
.menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 27px;
    padding-bottom: 110px;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    min-width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;    
}
.logo {
    font-family: Wisdom;
    color:  #fed136;
    font-size: 26px;
    line-height: 41px;
    text-decoration: none;
    display: block;
}
.menu-item a {    
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    display: block;
    padding: 5px 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-item a:hover,
.menu-item a:focus {
    color:  #fed136;
    transition: 0.5s;
}
/*Main menu end*/

/*Main section Start*/
.main-text {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.main-text-p {    
    margin: 0 auto 19px;   
    padding: 0; 
    font-family: Montserrat;
    color:  #222222;
    font-size: 40px;
    font-weight: 700;
    /*line-height: 75px;*/
    text-align: center; 
    text-transform: uppercase;
}
.main-text-p1 {
    margin: 0 auto;
    padding-bottom: 48px;
    font-family: DroidSerif, sans-serif;
    color:  #777777;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-style: italic;
    text-align: center;    
    font-weight: 400;
}
.section-item {
    margin-bottom: 102px;
}
.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-content {
    margin: 0;
    padding: 30px 8px 20px;
    max-width: 292px;
    min-width: 232px;
    margin-bottom: 98px;
}
.item-content li {
    padding: 0 15px;
}
.item-content:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.item-subcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.item-subcontent li {
    display: block;
    text-align: center;
}
.item-icon-basket:before {
    margin: 0 auto 22px;
    display: block;
    content: "";
    height: 68px;
    width: 68px;
    border: 3px solid #fed136;
    border-radius: 50px;
    background: url(../img/icon-basket.png) 50% 50% no-repeat;
}
.item-icon-laptop:before {
    margin: 0 auto 22px;
    display: block;
    content: "";
    height: 68px;
    width: 68px;
    border: 3px solid #fed136;
    border-radius: 50px;
    background: url(../img/icon-laptop.png) 50% 50% no-repeat;
}
.item-icon-locked:before {
    margin: 0 auto 22px;
    display: block;
    content: "";
    height: 68px;
    width: 68px;
    border: 3px solid #fed136;
    border-radius: 50px;
    background: url(../img/icon-locked.png) 50% 50% no-repeat;
}
.item-title {
    margin: 0;
    padding: 0;
    color:  #222222;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    /*line-height: 75px;*/
    text-align: center;
}
.item-text {
    margin: 0;
    font-family: RobotoSlab;
    color:  #777777;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
/*Main section End*/

/*Members Cards Start*/
.card-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    text-align: center;
    margin-bottom: 92px;
}
.members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 82px;
}

.member-photo {
    margin: 0 auto;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.card-container p {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color:  #999999;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.member-list-item {
    position: relative;
    display: flex;
    width: 380px;
    margin-bottom: 30px;
}
.member-list-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    opacity: 0;
    transition: transform 0.2s linear, opacity 0.2s linear;
}
/*Member List Social Icons Start*/
.member-list-socials {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.member-list-socials a {
    display: block;
    width: 56px;
    height: 56px;
    border: rgba(243, 129, 129, 0.502) solid 1px;
} 
.member-list-socials a:hover,
.member-list-socials a:focus {
    background-color:  #95e1d3;
} 
.member-list-socialas-facebook {    
    background: rgb(252, 227, 138) url(../img/facebook.png) 50% 50% no-repeat;
}
.member-list-socialas-twitter {    
    background: rgb(252, 227, 138) url(../img/twitter.png) 50% 50% no-repeat;
}
.member-list-socialas-pinterest {    
    background: rgb(252, 227, 138) url(../img/pinterest.png) 50% 50% no-repeat;
}
.member-list-socialas-instagram {    
    background: rgb(252, 227, 138) url(../img/instagram.png) 50% 50% no-repeat;
}
/*Member List Social Icons End*/
.member-list-image {
    transition: transform 0.5s linear;
}
.member-list-overlay {
    transition: transform 0.5s linear, opacity 0.2s linear;
}
.member-list-item:hover .member-list-overlay {
    opacity: 1;
}
.member-list-item:hover {
    cursor: pointer;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 rgba(149, 225, 211, 1);
}
.member-list-item:hover .member-list-socials {
    opacity: 1;
}
.members-list-descr {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.members-list-descr-name {
    margin: 0 auto 14px;
    padding: 0;
    text-transform: uppercase;
    font-family: Montserrat;
    color:  #333333;
    font-size: 14px;
    font-weight: 400;
}
.members-list-descr-position {
    margin: 0 auto;
    padding: 0;
    font-family: Roboto;
    color:  #999999;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
}
/*Members Cards End*/

/*Footer Section Start*/
.footer-wrapper {
    
    min-width: 1400px;
    height: 676px;
    background: url(../img/MapImage.png) 100% 75% no-repeat;
    background-color:  #222222;
}
.footer-wrapper-text {
        
}
.footer-wrapper-text a {
}
/*Footer subscription form Start*/
.footer-wrapper-form {
    margin: 0;
    padding: 0;
    display: flex;
}
.footer-wrapper-email {
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 14px;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    text-align: left;
    text-transform: capitalize;
    border: 1px solid rgb(204, 204, 204);
}
.footer-wrapper-subscribe-button {
    width: 152px;
    height: 40px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    background-color: rgb(149, 225, 211);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: transparent;    
}
.footer-wrapper-subscribe-button:hover,
.footer-wrapper-subscribe-button:focus {
    cursor: pointer;
    background-color:  #f38181;
    transition: 0.5s;
}
/*Footer subscription form End*/
/*Footer section End*/
