body {
    margin: 39px;
    padding: 0px;
    text-align: center;    
}

/*main {
    margin-top: 64px;
}
*/
.menu{
    margin: 0;
    padding: 0;
    width: 573px;
    /*border:1px red dotted;*/
    display: inline-block;    
}

ul.nav {
    margin: 0;
    padding: 0;
    text-align: justify;
}

ul.nav li {
    display: inline-block;
    position: relative;
}

ul.nav:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}

ul.nav:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
}

.menu .nav a {
    font-family: 'Playfair Display', serif; /*подключаем шрифт*/
    font-weight: regular;
    font-size: 14px;
    color: #626262;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.menu .nav a:hover{
    color:#03a9f4;
}
.outer-box {
    /*border: 1px dotted red;*/
    margin: 0 auto;
    padding: 0px 0px;
    max-width: 960px;
    min-width: 421px;
    text-align: center;
    font-size: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px rgba(5, 5, 5, 0.5);
}

.inner-box {
    margin: 64px 0 69px;
    /*padding: 5px 5px;*/
    /*height: 75px;*/
    width: 421px;
    /*width: calc(50% - 16px);*/
    /*background-color: #EF6C00;*/
    /*border: 1px dotted red;*/
    display: inline-block;
    vertical-align:top;
}

/*div.inner-box:nth-child(n+3){
    margin-top: 133px;
}

/*выравниваем колонки статьи относительно центра*/
.inner-box:nth-last-child(2n-1) {
    margin-right: 60px;
} 
/*
.inner-box:nth-last-child(2n) {
    margin-left: 30px;
} */

/*левую картинку поместим с помощью бекграунд-ковер*/
/*.image {
    height:281px;
    width:421px;
    background: #212121 url("../img/concert.jpg") no-repeat;
    background-size:cover;
}*/

/*.center {
    margin: auto;
}
*/
p.title {
    margin: 29px 0 0;
    text-align: left;
    color: #b4ad9e;
    font-family: 'Ubuntu', serif; /*подключаем шрифт*/
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
}

h2 {
    color: #626262;
    margin: 24px 0 0;
    font-family: 'Playfair Display', serif; /*подключаем шрифт*/
    font-weight: lighter;
    font-size: 30px;
    text-align: left;
    line-height: 1;
}

p.text {
    color: #626262;
    margin: 30px 0 0;
    font-family: 'Playfair Display', serif; /*подключаем шрифт*/
    font-weight: lighter;
    font-size: 14px;
    line-height: 24px;
    padding: 0px;
    text-align: left;
}

/*убираем отступ внизу картинки*/
img {
    display: block;
}

a.button {
    margin: 0 auto 70px;
    width: 164px;
    height: 60px;
    display: inline-block;
    color: #626262;
    font-family: 'Playfair Display', serif; /*подключаем шрифт*/
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    user-select: none;
    /*padding: .5em 2em;*/
    outline: none;
    border: #626262a2 solid 1px;
    border-radius: 1px;
    transition: 0.2s;
    line-height: 60px;
} 

a.button:hover {
    background: rgba(158, 155, 155, 0.2);
}

a.button:active {
    background: rgba(158, 155, 155, 0.2);
}

a.button:focus {
    border: lightblue solid 1px;
}
