$main-font-stack: 'Open Sans', sans-serif;
$main-text-font-style: 'Roboto', sans-serif;
$title-font-style: 'Kaushan Script', cursive;
$subjection-font-style: 'Montserrat', sans-serif;
$base-color-light: rgba(252, 227, 138, 0.9);
$base-color-dark: rgba(243, 129, 129, 0.9);
$base-fontcolor-lite: #fce38a;
$base-fontcolor-dark: #f38181;
$font-color-lite: #fff;
$feature-icon-color: #95e1d3;