html{
	box-sizing:border-box;
}

*,
*::before, 
*::after{
	box-sizing: inherit;
}

body {
    /*margin: 0;
    padding: 0;*/
    color:  #555252;
    font-family: 'Open Sans', sans-serif; /*подключаем шрифт*/
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 40px 15px 0;
}

.menu-wrapper {
    margin-bottom: 90px;
}

.clearfix::after{
    display: table; /* можно написать block, но table сработает даже на старых браузерах*/
    content: "";
    clear: both;
}

.nav-menu {
    margin: 0;
    outline: green;
    height: 34px;
    /*width: 470px;*/
    float: right;
}

.nav-menu li {
    float: right;
    right:50%;
}

.nav-menu li:not(:first-child) {
    margin-right: 30px;
}

.item a {
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    text-align: right;
    display: block;
    padding: 5px 10px;
    color:  #555252;
    text-transform: uppercase;
    text-decoration: none;
}

.item a:nth-child(n+2) {
    margin-right: 60px;
}

.item a:hover {
    color:  #1abc9c;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 34px;
    float: left;
    display: inline-block;
    color:  #555252;
}

.logo:first-letter {
    color:  #1abc9c;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hydden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-wrapper {
    margin-bottom: 90px;
}

h2 {
    margin: 0 auto 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
}

.first-title::after {
    margin: 22px auto 0;
    display: block;
    width: 164px;
    height: 7px;
    background-color:  #4ec6ab;
    content: "";
}

.second-title::after {
    margin: 22px auto 0;
    display: block;
    width: 164px;
    height: 7px;
    background-color:  #4ec6ab;
    content: "";
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;    
}

.features-list-item {
    width: 255px;
    height: 322px;
    float: left;
    position: relative;
}

.features-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.features-list-item:nth-last-of-type(n+5) {
    margin-bottom: 30px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.features-list-descr {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
}

.features-list-name,
.features-list-price {
    float: left;
    margin: 0;
    font-size: 18px;
    color:#fff;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 600;   
}

.features-list-name{
    width: 200px;
    background-color: #323232;
    padding-left:14px;
    padding-right:14px;
}

.features-list-price{
    width:55px;
    background-color: #8c8c8c;
    text-align: center;
}

.features-list li:hover .features-list-name{
    background-color: #1abc9c;
    transition: 0.2s;
}

.features-list li:hover .features-list-price{
    background-color: #7fd9c7;
    transition: 0.2s;
}

.features-list-item{
    cursor:pointer;
}

.lattest-news {
    margin-bottom: 80px;
}

.lattest-news-item {
    width: 350px;
    height: 500px;
    float: left;  
}

.lattest-news-item:nth-last-child(n+2) {
    margin-right: 30px;
}

.img-news {
    margin-bottom: 10px;
}

.lattest-news-text {
    margin: 0 0 30px ;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
}

.lattest-news-text::after {
    margin: 15px 0 0;
    display: block;
    width: 136px;
    height: 3px;
    background-color:  #4ec6ab;
    content: "";
}

.lattest-news-text1 {
    margin: 0 0 15px;
    height: 66px;
    overflow: hidden;
    text-align: left;
}

li .link {
    margin: 0;
    padding: 13px 40px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    background-color: #4ec6ab;
    border-radius: 3px;
    text-decoration: none;
    text-transform: capitalize;
    user-select: none;
    outline: none;
    transition: 0.2s;

}

.link:hover {
    background-color: #187762;
}

.link:focus {
    outline: 1px solid  rgb(0, 0, 173);
}